<div class="block-feature-fifteen p-30 mt-150 xl-mt-120 lg-mt-80">
    <div class="bg-eleven md-pt-70">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 order-lg-last">
                    <div class="ms-lg-5">
                        <div class="title-six">
                            <h2>App Integration Available</h2>
                        </div>
                        <p class="fs-28 mt-30 mb-50 md-mb-30">Broaden piku’s line potential by leveraging its
                            compatibility with a vast array of apps and integration solutions.</p>
                        <a href="javascript:void(0)" class="btn-seven style-two">See all Apps</a>
                    </div>
                </div>
                <div class="col-lg-6 order-lg-first">
                    <div class="media position-relative md-mt-40">
                        <img src="assets/images/assets/card_08.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>