<div class="fancy-banner-four p-30 mt-110 lg-mt-60">
    <div class="bg-eight text-center pt-100 lg-pt-70 pb-250">
        <div class="container">
            <div class="position-relative z-1">
                <div class="row">
                    <div class="col-xl-9 col-lg-8 m-auto">
                        <div class="title-six mb-40">
                            <h2 class="color-dark">700k+ Customers have our Piku. Try it Now!</h2>
                        </div>
                        <a href="javascript:void(0)" class="btn-seven style-two">Get Started</a>
                    </div>
                </div>
                <img src="assets/images/shape/shape_41.svg" alt="" class="shapes shape_01">
                <img src="assets/images/shape/shape_42.svg" alt="" class="shapes shape_02">
            </div>
        </div>
        
    </div>
    <img src="assets/images/assets/ils_23.png" alt="" class="position-relative z-1 illustration">
</div>