<!--
		=====================================================
			Map Banner
		=====================================================
		-->
<div class="map-banner-one mt-120 lg-mt-90">
    <div class="gmap_canvas h-100 w-100">
        <iframe class="gmap_iframe h-100 w-100"
            src="https://maps.google.com/maps?width=600&amp;height=400&amp;hl=en&amp;q=dhaka collage&amp;t=&amp;z=12&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe>
    </div>
</div>



<!--
		=====================================================
			Contact Section Three
		=====================================================
		-->
<div class="contact-section-three position-relative z-1 mt-130 lg-mt-80 pb-180 lg-pb-80">
    <div class="container">
        <div class="row">
            <div class="col-xl-8 m-auto">
                <div class="title-two text-center mb-80 lg-mb-40">
                    <h2>Any question? Send us message.</h2>
                </div>
            </div>
        </div>

        <div class="row gx-xxl-5">
            <div class="col-lg-7 d-flex">
                <div class="form-style-two w-100">
                    <form action="inc/contact.php" id="contact-form" data-toggle="validator">
                        <div class="messages"></div>
                        <div class="row controls">
                            <div class="col-12">
                                <div class="input-group-meta form-group mb-30">
                                    <label for="">Name*</label>
                                    <input type="text" placeholder="Full Name*" name="name" required="required"
                                        data-error="Name is required.">
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="input-group-meta form-group mb-30">
                                    <label for="">Email*</label>
                                    <input type="email" placeholder="Email Address*" name="email" required="required"
                                        data-error="Valid email is required.">
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="input-group-meta form-group mb-35">
                                    <textarea placeholder="Write Message here.." name="message" required="required"
                                        data-error="Please,leave us a message."></textarea>
                                    <div class="help-block with-errors"></div>
                                </div>
                            </div>
                            <div class="col-12"><button class="btn-three tran3s w-100">Send Message</button></div>
                        </div>
                    </form>
                </div> <!-- /.form-style-two -->
            </div>

            <div class="col-lg-5 d-flex">
                <div class="address-wrapper w-100 ms-xxl-5 mt-10 md-mt-60">
                    <div class="wrapper w-100 h-100">
                        <ul class="style-none">
                            <li>
                                <img src="assets/images/icon/icon_97.svg" alt="">
                                <h6>Our Address</h6>
                                <p>1012 Pebda Parkway, Mirpur dhos Dhaka, Bangladesh</p>
                            </li>
                            <li>
                                <img src="assets/images/icon/icon_98.svg" alt="">
                                <h6>Contact Info</h6>
                                <p>Open a chat or give us call at <br> <a href="javascript:void(0)">(880) 1789456710</a></p>
                            </li>
                            <li>
                                <img src="assets/images/icon/icon_99.svg" alt="">
                                <h6>Live support</h6>
                                <p>Urgent go to live chat portal <br> <a href="javascript:void(0)">www.supportlive.com</a></p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="title-two text-center mb-60 lg-mb-20 mt-150 lg-mt-80">
            <h2>Looking for Support?</h2>
        </div>

        <div class="row gx-xxl-5">
            <div class="col-lg-6">
                <div class="card-style-sixteen mt-35">
                    <div class="d-flex align-items-center justify-content-between">
                        <h6>Support Center</h6>
                        <img src="assets/images/icon/icon_100.svg" alt="">
                    </div>
                    <p class="fs-22">Explore varied resources for quick answers to common inquiries.</p>
                    <a href="javascript:void(0)" class="d-flex align-items-center justify-content-between">Check it out <span
                            class="icon"><i class="fa-light fa-arrow-up-right"></i></span></a>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card-style-sixteen mt-35">
                    <div class="d-flex align-items-center justify-content-between">
                        <h6>Community</h6>
                        <img src="assets/images/icon/icon_101.svg" alt="">
                    </div>
                    <p class="fs-22">Engage in our lively community, exchange experiences, and gain insights.</p>
                    <a href="javascript:void(0)" class="d-flex align-items-center justify-content-between">Check it out <span
                            class="icon"><i class="fa-light fa-arrow-up-right"></i></span></a>
                </div>
            </div>
        </div>
    </div>
    <img src="assets/images/shape/shape_92.svg" alt="" class="shapes shape_01">
</div>
<!-- /.contact-section-three -->
 <app-ai-writer-fancy-banner-section></app-ai-writer-fancy-banner-section>