<div class="project-section-three pt-225 lg-pt-150 mb-150 lg-mb-80">
    <div class="container">
        <div class="title-two text-center mb-55 lg-mb-30">
            <h2>Our Projects</h2>
        </div>

        <div class="filter-nav-two">
            <ul class="style-none d-flex justify-content-center flex-wrap isotop-menu-wrapper">
                <li *ngFor="let category of categories" [class.is-checked]="activeFilter === category.filter"
                    (click)="setFilter(category.filter)">
                    {{ category.name }}
                </li>
            </ul>
        </div>

        <div id="isotop-gallery-wrapper" class="grid-2column">
            <div class="grid-sizer"></div>
            <div class="row">
                @for (project of projects; track $index) {
                    @if (isProjectVisible(project)) {
                        <div class="col-md-6 col-12" [class]="project.categories.join(' ')"  [@rowAdded]>
                            <div class="project-block-three position-relative z-1">
                                <img [src]="project.image" alt="" class="w-100 media-img tran3s">
                                <div class="position-relative d-flex justify-content-between align-items-start pt-35">
                                    <div class="pe-3">
                                        <h6>{{ project.title }}</h6>
                                        <span>{{ project.type }}</span>
                                    </div>
                                    <img src="assets/images/icon/icon_93.svg" alt="" class="mt-2 ms-auto">
                                    <a routerLink="/digital-agency/project-details" class="stretched-link"></a>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
            <!-- <div class="isotop-item mt-50 lg-mt-30" 
                >
            </div> -->
            <!-- /.isotop-item -->
        </div>
        <!-- /#isotop-gallery-wrapper -->
    </div>
</div>