<div class="feedback-section-four p-30 mt-150 xl-mt-130 lg-mt-80">
    <div class="bg-ten pt-130 lg-pt-80 pb-130 lg-pb-80">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 order-lg-last">
                    <div class="ms-xl-5 ms-lg-4 ps-xxl-3">
                        <div class="title mb-60 lg-mb-30">
                            <h2 class="color-dark">Amazing!</h2>
                            <p class="fs-24 text-uppercase text-dark">BEST CRM SOFTWARE</p>
                        </div>
                        <div class="feedback-slider-three">
                            <owl-carousel-o [options]="customOptions">
                                <ng-template carouselSlide>
                                    <div class="item">
                                        <div class="feedback-block-three">
                                            <blockquote>Game-changer! Boosted efficiency, simplified tasks, and saved
                                                time.
                                                Highly recommended!</blockquote>

                                            <div class="client-info fs-22 text-dark"><span>Stefan Jong,</span> Miami
                                            </div>
                                        </div>
                                    </div>
                                </ng-template>
                                <ng-template carouselSlide>
                                    <div class="item">
                                        <div class="feedback-block-three">
                                            <blockquote>Game-changer! Boosted efficiency, simplified tasks, and saved
                                                time.
                                                Highly recommended!</blockquote>

                                            <div class="client-info fs-22 text-dark"><span>Stefan Jong,</span> Miami
                                            </div>
                                        </div>
                                    </div>
                                </ng-template>
                                <ng-template carouselSlide>
                                    <div class="item">
                                        <div class="feedback-block-three">
                                            <blockquote>Game-changer! Boosted efficiency, simplified tasks, and saved
                                                time.
                                                Highly recommended!</blockquote>

                                            <div class="client-info fs-22 text-dark"><span>Stefan Jong,</span> Miami
                                            </div>
                                        </div>
                                    </div>
                                </ng-template>
                            </owl-carousel-o>
                        </div>
                        <ul class="rating d-flex align-items-center flex-wrap style-none mt-70 md-mt-40">
                            <li><i class="fa-sharp fa-solid fa-star-sharp"></i></li>
                            <li><i class="fa-sharp fa-solid fa-star-sharp"></i></li>
                            <li><i class="fa-sharp fa-solid fa-star-sharp"></i></li>
                            <li><i class="fa-sharp fa-solid fa-star-sharp"></i></li>
                            <li><i class="fa-sharp fa-solid fa-star-sharp"></i></li>
                            <li><span><strong>5.00</strong> (27k Reviews)</span></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6 order-lg-first">
                    <div class="media position-relative md-mt-40">
                        <img src="assets/images/assets/ils_19.png" alt="">
                        <div class="card-wrapper d-flex align-items-center">
                            <img src="assets/images/media/img_14.png" alt="" class="h-100">
                            <div class="ps-4">
                                <h2 class="color-dark" >32,0000+</h2>
                                <p class="fs-24 text-dark m0">Total Clients</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>