<!--
		=====================================================
			BLock Feature Twelve
		=====================================================
		-->
<div class="block-feature-twelve pt-130 lg-pt-80">
    <div class="container">
        <div class="text-center mb-85 lg-mb-40">
            <div class="title-six">
                <h2>Top Rated Software Farm</h2>
            </div>
            <p class="fs-24 mb-25">“I couldn’t have asked for a better experience with piku!”</p>
            <ul class="rating d-flex justify-content-center align-items-center flex-wrap style-none">
                <li><i class="fa-sharp fa-solid fa-star-sharp"></i></li>
                <li><i class="fa-sharp fa-solid fa-star-sharp"></i></li>
                <li><i class="fa-sharp fa-solid fa-star-sharp"></i></li>
                <li><i class="fa-sharp fa-solid fa-star-sharp"></i></li>
                <li><i class="fa-sharp fa-solid fa-star-sharp"></i></li>
                <li><span><strong>5.00</strong> (27k Reviews)</span></li>
            </ul>
        </div>

        <div class="row">
            <div class="col-xxl-10 m-auto">
                <div class="row justify-content-between">
                    <div class="col-xl-4 col-lg-5">
                        <div class="card-style-six text-center border-line">
                            <div class="icon d-flex align-items-center justify-content-center">
                                <img src="assets/images/assets/ils_16.svg" alt="">
                            </div>
                            <h4>All in One</h4>
                            <p class="fs-24">You design, we generate the code for everything from fully custom layouts
                                to</p>
                        </div>
                        <!-- /.card-style-six -->
                    </div>
                    <div class="col-xl-4 col-lg-5">
                        <div class="card-style-six text-center md-mt-30">
                            <div class="icon d-flex align-items-center justify-content-center">
                                <img src="assets/images/assets/ils_17.svg" alt="">
                            </div>
                            <h4>Customer Portal</h4>
                            <p class="fs-24">You design, we generate the code for everything from fully custom layouts
                                to</p>
                        </div>
                        <!-- /.card-style-six -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.block-feature-twelve -->



<!--
		=====================================================
			BLock Feature Thirteen
		=====================================================
		-->
<div class="block-feature-thirteen p-30 mt-150 xl-mt-120 lg-mt-60">
    <div class="bg-nine pt-130 lg-pt-80 pb-100 lg-pb-80">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 order-lg-last">
                    <div class="ms-lg-5 ps-xxl-3">
                        <div class="title-six">
                            <h2 class="color-dark">We’r the Boss in This Market</h2>
                        </div>

                        <div class="accordion accordion-style-three mb-40" id="accordionThree" ngbAccordion [closeOthers]="true" >
                            <div class="accordion-item" ngbAccordionItem>
                                <h2 class="accordion-header" ngbAccordionHeader>
                                    <button class="accordion-button" type="button" ngbAccordionButton>
                                        Easy to create Account
                                    </button>
                                </h2>
                                <div id="collapseOne" class="accordion-collapse" ngbAccordionCollapse>
                                    <div class="accordion-body" ngbAccordionBody>
                                        <p class="fs-22 color-dark">It only takes 5 minutes. Set-up is smooth & simple, with fully
                                            customisable filter to the right one.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item" ngbAccordionItem>
                                <h2 class="accordion-header">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" ngbAccordionButton> 
                                        Unbeatable Pricing Plan
                                    </button>
                                </h2>
                                <div id="collapseTwo" class="accordion-collapse collapse"
                                    data-bs-parent="#accordionThree" ngbAccordionCollapse >
                                    <div class="accordion-body" ngbAccordionBody>
                                        <p class="fs-22 color-dark">It only takes 5 minutes. Set-up is smooth & simple, with fully
                                            customisable filter to the right one.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item" ngbAccordionItem>
                                <h2 class="accordion-header" ngbAccordionHeader>
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseThree" aria-expanded="true" 
                                        aria-controls="collapseThree" ngbAccordionButton>
                                        Quick Support
                                    </button>
                                </h2>
                                <div id="collapseThree" class="accordion-collapse collapse"
                                    data-bs-parent="#accordionThree" ngbAccordionCollapse >
                                    <div class="accordion-body" ngbAccordionBody>
                                        <p class="fs-22 color-dark">It only takes 5 minutes. Set-up is smooth & simple, with fully
                                            customisable filter to the right one.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a routerLink="/faq-v1" class="btn-seven style-two">Explore More <i
                                class="fa-sharp fa-regular fa-arrow-right-long"></i></a>
                    </div>
                </div>
                <div class="col-lg-6 col-md-10 m-auto order-lg-first">
                    <div class="media position-relative mt-60">
                        <div class="counter-box text-center d-inline-block box-one">
                            <h2 class="color-dark">31,000+</h2>
                            <p class="fs-24 text-dark">Reviews</p>
                        </div>
                        <div class="counter-box text-center d-inline-block box-two">
                            <h2 class="color-dark">1.2m</h2>
                            <p class="fs-24 text-dark">Clients</p>
                        </div>
                        <img src="assets/images/assets/ils_18.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.block-feature-thirteen -->




<!--
		=====================================================
			BLock Feature Fourteen
		=====================================================
		-->
<div class="block-feature-fourteen position-relative z-1 mt-150 lg-mt-70">
    <div class="container">
        <div class="row">
            <div class="col-xxl-9 col-xl-8 col-lg-10 m-auto">
                <div class="text-center mb-80 lg-mb-40">
                    <div class="title-six">
                        <h2>Coordinate Tasks Toward One Solution</h2>
                    </div>
                    <p class="fs-24">Piku for every business you need. we’r provide best offer with best services</p>
                </div>
            </div>
        </div>
        <div class="feature-tab">
            <nav class="filter-nav">
                <div class="nav nav-tabs align-items-center justify-content-center justify-content-xl-between border-0">
                    <button class="nav-link" *ngFor="let button of buttons; let i = index"
                        [class.active]="i === activeButtonIndex" (click)="setActive(i)">
                        <img [src]="button.icon" alt="" class="shapes icon">
                        <img [src]="button.iconW" alt="" class="shapes icon icon_w">
                        {{ button.label }}
                    </button>
                </div>
            </nav>
            <div class="mt-80 lg-mt-40">
                <div class="tab-content">
                    <div class="tab-pane show active" id="finance" role="tabpanel" tabindex="0">
                        <div class="row align-items-center">
                            <div class="col-lg-5">
                                <div class="title-seven mb-30">
                                    <h2>Handle Tasks with Expertise</h2>
                                </div>
                                <p class="fs-22 mb-50">commodo consequat. Duis aute irure dolor in reprehenderit in
                                    voluptate velit esse cillum dolore eu fugiat pariatu</p>
                                <a href="javascript:void(0)" class="btn-twelve"><span>Explore More</span> <i
                                        class="fa-sharp fa-regular fa-arrow-right-long"></i></a>
                            </div>
                            <div class="col-lg-7">
                                <img src="assets/images/assets/card_07.png" alt="" class="ms-auto md-mt-40">
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="task" role="tabpanel" tabindex="0">
                        <div class="row align-items-center">
                            <div class="col-lg-5">
                                <div class="title-seven mb-30">
                                    <h2>Handle Tasks with Expertise</h2>
                                </div>
                                <p class="fs-22 mb-50">commodo consequat. Duis aute irure dolor in reprehenderit in
                                    voluptate velit esse cillum dolore eu fugiat pariatu</p>
                                <a href="javascript:void(0)" class="btn-twelve"><span>Explore More</span> <i
                                        class="fa-sharp fa-regular fa-arrow-right-long"></i></a>
                            </div>
                            <div class="col-lg-7">
                                <img src="assets/images/assets/card_07.png" alt="" class="ms-auto md-mt-40">
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="market" role="tabpanel" tabindex="0">
                        <div class="row align-items-center">
                            <div class="col-lg-5">
                                <div class="title-seven mb-30">
                                    <h2>Handle Tasks with Expertise</h2>
                                </div>
                                <p class="fs-22 mb-50">commodo consequat. Duis aute irure dolor in reprehenderit in
                                    voluptate velit esse cillum dolore eu fugiat pariatu</p>
                                <a href="javascript:void(0)" class="btn-twelve"><span>Explore More</span> <i
                                        class="fa-sharp fa-regular fa-arrow-right-long"></i></a>
                            </div>
                            <div class="col-lg-7">
                                <img src="assets/images/assets/card_07.png" alt="" class="ms-auto md-mt-40">
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="chat" role="tabpanel" tabindex="0">
                        <div class="row align-items-center">
                            <div class="col-lg-5">
                                <div class="title-seven mb-30">
                                    <h2>Handle Tasks with Expertise</h2>
                                </div>
                                <p class="fs-22 mb-50">commodo consequat. Duis aute irure dolor in reprehenderit in
                                    voluptate velit esse cillum dolore eu fugiat pariatu</p>
                                <a href="javascript:void(0)" class="btn-twelve"><span>Explore More</span> <i
                                        class="fa-sharp fa-regular fa-arrow-right-long"></i></a>
                            </div>
                            <div class="col-lg-7">
                                <img src="assets/images/assets/card_07.png" alt="" class="ms-auto md-mt-40">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.tab-content -->

            </div>
        </div>
        <!-- /.feature-tab -->
    </div>
</div>
<!-- /.block-feature-fourteen -->