<!-- 
		=============================================
			Inner Banner
		============================================== 
		-->
<div class="inner-banner-one z-1 position-relative gap-40 mt-120 lg-mt-100">
    <div class="bg position-relative z-1 pt-120 xl-pt-100 lg-pt-80 pb-130 xl-pb-100 lg-pb-70">
        <div class="container">
            <h2>About Us</h2>
            <ul class="style-none d-flex align-items-center">
                <li><a routerLink="/cyber-security">Home</a></li>
                <li>/</li>
                <li>Service</li>
            </ul>
        </div>
    </div>
</div>
<!-- /.inner-banner-one -->




<!--
		=====================================================
			Block Feature Twenty Eight
		=====================================================
		-->
<div class="block-feature-twentyEight mt-180 xl-mt-150 lg-mt-80">
    <div class="container">
        <div class="block-feature">
            <div class="row">
                <div class="col-lg-6 order-lg-last ms-auto">
                    <div class="title-ten pe-xxl-5">
                        <div class="fs-22 text-white mb-15">About us</div>
                        <h2>Best Agency for success in business. </h2>
                    </div>
                    <div class="accordion accordion-style-five mt-50 md-mt-20" id="accordionThree" ngbAccordion
                        [closeOthers]="true">
                        <div class="accordion-item" ngbAccordionItem [collapsed]="false" >
                            <h2 class="accordion-header" ngbAccordionHeader>
                                <button class="accordion-button" type="button" ngbAccordionButton>
                                    Who we are?
                                </button>
                            </h2>
                            <div id="collapseOne" class="accordion-collapse" ngbAccordionCollapse>
                                <div class="accordion-body" ngbAccordionBody>
                                    <p class="fs-22">Our founders Dustin Moskovitz and Justin Rosenstein met while
                                        leading Engineering .</p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item" ngbAccordionItem>
                            <h2 class="accordion-header">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo"
                                    ngbAccordionButton>
                                    What’s our goal
                                </button>
                            </h2>
                            <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionThree"
                                ngbAccordionCollapse>
                                <div class="accordion-body" ngbAccordionBody>
                                    <p class="fs-22">Our founders Dustin Moskovitz and Justin Rosenstein met while
                                        leading Engineering .</p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item" ngbAccordionItem>
                            <h2 class="accordion-header" ngbAccordionHeader>
                                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree"
                                    ngbAccordionButton>
                                    Our vision
                                </button>
                            </h2>
                            <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionThree"
                                ngbAccordionCollapse>
                                <div class="accordion-body" ngbAccordionBody>
                                    <p class="fs-22">Our founders Dustin Moskovitz and Justin Rosenstein met while leading Engineering .</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 col-md-8 m-auto m-lg-0">
                    <div class="img-box position-relative z-1 md-mt-40">
                        <img src="assets/images/media/img_33.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
        <!-- /.block-feature -->


        <div class="counter-wrapper mt-70 lg-mt-40">
            <div class="row justify-content-between">
                <div class="col-xl-4 col-lg-4">
                    <div class="counter-block-one text-center text-lg-start mt-20">
                        <div class="main-count fw-500 text-white">$<span class="counter" [countUp]="9.1">9.1</span>B+
                        </div>
                        <span class="fs-22">Coverage</span>
                    </div>
                    <!-- /.counter-block-one -->
                </div>
                <div class="col-xl-4 col-lg-4">
                    <div class="counter-block-one text-center mt-20">
                        <div class="main-count fw-500 text-white"><span class="counter" [countUp]="20">20</span>+</div>
                        <span class="fs-22">Years Experience</span>
                    </div>
                    <!-- /.counter-block-one -->
                </div>
                <div class="col-xl-2 col-lg-3 ms-auto">
                    <div class="counter-block-one text-center text-lg-start mt-20">
                        <div class="main-count fw-500 text-white"><span class="counter" [countUp]="1.2">1.2</span>M
                        </div>
                        <span class="fs-22">Low interest rate</span>
                    </div>
                    <!-- /.counter-block-one -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.block-feature-twentyEight -->




<!--
		=====================================================
			Video Banner One
		=====================================================
		-->
<div class="video-banner-one gap-40 mt-150 lg-mt-80">
    <div class="bg-wrapper d-flex align-items-center justify-content-center">
        <a class="video-btn tran3s rounded-circle d-flex align-items-center justify-content-center" data-fancybox=""
            href="https://www.youtube.com/embed/aXFSJTjVjw0"><i class="fa-sharp fa-solid fa-play"></i></a>
    </div>
</div>





<!--
		=====================================================
			Feedback Section Ten
		=====================================================
		-->
<div class="feedback-section-ten mt-180 xl-mt-150 lg-mt-80">
    <div class="position-relative">
        <div class="container lg">
            <div class="row">
                <div class="col-lg-6 m-auto">
                    <div class="title-ten text-center mb-70 lg-mb-40">
                        <h2>73,0000+ Client using our services</h2>
                    </div>
                </div>
            </div>
            <owl-carousel-o [options]="customOptions">
                <ng-template carouselSlide>
                    <div class="item">
                        <div class="style-two feedback-block-four bg-dark border border-2 border-white">
                            <img src="assets/images/logo/p_logo_33.png" alt="" class="logo">
                            <blockquote>“I have been using Piku since I got it and I love it!”</blockquote>

                            <div class="d-lg-flex align-items-center justify-content-between">
                                <div class="name"><span class="fw-500 text-white">Rashed kabir,</span> Lead Designer
                                </div>
                                <ul class="rating style-none d-flex md-mt-10">
                                    <li><i class="bi bi-star-fill"></i></li>
                                    <li><i class="bi bi-star-fill"></i></li>
                                    <li><i class="bi bi-star-fill"></i></li>
                                    <li><i class="bi bi-star-fill"></i></li>
                                    <li><i class="bi bi-star"></i></li>
                                </ul>
                            </div>
                        </div>
                        <!-- /.feedback-block-four bg-dark -->
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="item">
                        <div class="feedback-block-four style-two bg-dark border border-2 border-white">
                            <img src="assets/images/logo/p_logo_34.png" alt="" class="logo">
                            <blockquote>Piku absolute favorite! This VPN brand transformed our lives.</blockquote>

                            <div class="d-lg-flex align-items-center justify-content-between">
                                <div class="name"><span class="fw-500 text-white">Mark Joge,</span> Marketing Chief
                                </div>
                                <ul class="rating style-none d-flex md-mt-10">
                                    <li><i class="bi bi-star-fill"></i></li>
                                    <li><i class="bi bi-star-fill"></i></li>
                                    <li><i class="bi bi-star-fill"></i></li>
                                    <li><i class="bi bi-star-fill"></i></li>
                                    <li><i class="bi bi-star"></i></li>
                                </ul>
                            </div>
                        </div>
                        <!-- /.feedback-block-four style-two bg-dark -->
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="item">
                        <div class="feedback-block-four style-two bg-dark border border-2 border-white">
                            <img src="assets/images/logo/p_logo_35.png" alt="" class="logo">
                            <blockquote>“I have been using Piku since I got it and I love it!”</blockquote>

                            <div class="d-lg-flex align-items-center justify-content-between">
                                <div class="name"><span class="fw-500 text-white">Rashed kabir,</span> Lead Designer
                                </div>
                                <ul class="rating style-none d-flex md-mt-10">
                                    <li><i class="bi bi-star-fill"></i></li>
                                    <li><i class="bi bi-star-fill"></i></li>
                                    <li><i class="bi bi-star-fill"></i></li>
                                    <li><i class="bi bi-star-fill"></i></li>
                                    <li><i class="bi bi-star"></i></li>
                                </ul>
                            </div>
                        </div>
                        <!-- /.feedback-block-four style-two bg-dark -->
                    </div>
                </ng-template>
                <ng-template carouselSlide>
                    <div class="item">
                        <div class="feedback-block-four style-two bg-dark border border-2 border-white">
                            <img src="assets/images/logo/p_logo_36.png" alt="" class="logo">
                            <blockquote>Piku absolute favorite! This VPN brand transformed our lives.</blockquote>

                            <div class="d-lg-flex align-items-center justify-content-between">
                                <div class="name"><span class="fw-500 text-white">Mark Joge,</span> Marketing Chief
                                </div>
                                <ul class="rating style-none d-flex md-mt-10">
                                    <li><i class="bi bi-star-fill"></i></li>
                                    <li><i class="bi bi-star-fill"></i></li>
                                    <li><i class="bi bi-star-fill"></i></li>
                                    <li><i class="bi bi-star-fill"></i></li>
                                    <li><i class="bi bi-star"></i></li>
                                </ul>
                            </div>
                        </div>
                        <!-- /.feedback-block-four bg-dark -->
                    </div>
                </ng-template>
            </owl-carousel-o>
        </div>
    </div>
</div>
<!-- /.feedback-section-ten -->




<div class="mt-180 xl-mt-150 lg-mt-100">
    <div class="container">
        <div class="fs-24 fw-500 text-white text-center mb-20">Used by over 12,000+ brands all over the world</div>

        <div class="row gx-5 justify-content-center align-items-center">
            <div class="col-xl-3 col-md-4 col-sm-3 col-6 mt-60 lg-mt-40">
                <img src="assets/images/logo/p_logo_33.png" alt="" class="m-auto">
            </div>
            <div class="col-xl-3 col-md-4 col-sm-3 col-6 mt-60 lg-mt-40">
                <img src="assets/images/logo/p_logo_34.png" alt="" class="m-auto">
            </div>
            <div class="col-xl-3 col-md-4 col-sm-3 col-6 mt-60 lg-mt-40">
                <img src="assets/images/logo/p_logo_35.png" alt="" class="m-auto">
            </div>
            <div class="col-xl-3 col-md-4 col-sm-3 col-6 mt-60 lg-mt-40">
                <img src="assets/images/logo/p_logo_36.png" alt="" class="m-auto">
            </div>
            <div class="col-xl-3 col-md-4 col-sm-3 col-6 mt-60 lg-mt-40">
                <img src="assets/images/logo/p_logo_37.png" alt="" class="m-auto">
            </div>
            <div class="col-xl-3 col-md-4 col-sm-3 col-6 mt-60 lg-mt-40">
                <img src="assets/images/logo/p_logo_38.png" alt="" class="m-auto">
            </div>
            <div class="col-xl-3 col-md-4 col-sm-3 col-6 mt-60 lg-mt-40">
                <img src="assets/images/logo/p_logo_39.png" alt="" class="m-auto">
            </div>
        </div>
    </div>
    <!-- /.container -->
</div>




<!--
		=====================================================
			Fancy Banner Eleven
		=====================================================
		-->
<div class="fancy-banner-eleven mt-150 xl-mt-130 lg-mt-80 gap-40">
    <div class="bg-wrapper position-relative z-1 pt-120 lg-pt-80 pb-120 lg-pb-80">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-7">
                    <div class="title-ten">
                        <h2 class="text-dark">Secure your small business, from anywhere.</h2>
                    </div>
                    <p class="fs-24 text-dark mt-35 mb-35">Enjoy peace of mind knowing your business’s devices and
                        customer data are more secure.</p>
                    <a href="javascript:void(0)" class="btn-nineteen">Get Started</a>
                </div>
            </div>
        </div>
    </div>
</div>