<!-- 
		=============================================
			Inner Banner
		============================================== 
		-->
<div class="inner-banner-one z-1 position-relative gap-40 mt-120 lg-mt-100">
    <div class="bg position-relative z-1 pt-120 xl-pt-100 lg-pt-80 pb-130 xl-pb-100 lg-pb-70">
        <div class="container">
            <h2>Services Details</h2>
            <ul class="style-none d-flex align-items-center">
                <li><a routerLink="/cyber-security">Home</a></li>
                <li>/</li>
                <li>Service</li>
            </ul>
        </div>
    </div>
</div>
<!-- /.inner-banner-one -->




<!--
		=====================================================
			Service Details
		=====================================================
		-->
<div class="service-details mt-150 xl-mt-120 lg-mt-80">
    <div class="container">
        <div class="wrapper m-auto">
            <div class="row">
                <div class="col-xl-8 m-auto text-center">
                    <div class="title-ten mb-60 lg-mb-30">
                        <h2>Branding & Digital Strategies</h2>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-8">
                    <img src="assets/images/media/img_36.jpg" alt="" class="w-100 mt-10">
                </div>
                <div class="col-sm-4">
                    <img src="assets/images/media/img_37.jpg" alt="" class="w-100 mt-10">
                </div>
            </div>
            <p class="mt-70 lg-mt-40 mb-40">Risk management and compliance, when approached strategically, have the
                potential to go beyond mitigating threats and protecting a company’s operations and reputation.</p>

            <p>Our dedicated risk compliance consulting team assists clients transforming uncertainty into advantageous
                prospects. We work collaboratively organizations to identify & leverage the potential within their risk
                & compliance functions, enabling them to thrive in an ever-changing business landscape.</p>

            <h3>Our Work Strategy</h3>
            <ul class="style-none list-type-one">
                <li><span>Market Research -</span> Crafting brand identity with logo, website, and social media design
                    to ensure a strong digital presence and brand recognition.</li>
                <li><span>Strategy Planning -</span> Utilizing content marketing and ads to bolster brand & engage
                    target audience effectively.</li>
            </ul>
            <h3>Work Process</h3>
            <p>Risk management and compliance, when approached strategically, have the potential to go beyond mitigating
                threats and protecting a company’s operations and reputation.</p>

            <div class="bg-wrapper bg-grey mt-40">
                <div class="row gx-xxl-5">
                    <div class="col-lg-4">
                        <div class="card-style-fifteen text-center mt-25">
                            <div
                                class="icon d-flex align-items-center justify-content-center border border-2 border-dark rounded-circle">
                                <img src="assets/images/icon/icon_90.svg" alt="">
                            </div>
                            <h6>Collect Doc</h6>
                            <p class="ps-xxl-4 pe-xxl-4">We collect require documents & send for check</p>
                        </div>
                        <!-- /.card-style-fifteen -->
                    </div>
                    <div class="col-lg-4">
                        <div class="card-style-fifteen text-center mt-25">
                            <div
                                class="icon d-flex align-items-center justify-content-center border border-2 border-dark rounded-circle">
                                <img src="assets/images/icon/icon_91.svg" alt="">
                            </div>
                            <h6>Check & Finalize</h6>
                            <p class="ps-xxl-4 pe-xxl-4">We check the documents & send for final approval</p>
                        </div>
                        <!-- /.card-style-fifteen -->
                    </div>
                    <div class="col-lg-4">
                        <div class="card-style-fifteen text-center mt-25">
                            <div
                                class="icon d-flex align-items-center justify-content-center border border-2 border-dark rounded-circle">
                                <img src="assets/images/icon/icon_92.svg" alt="">
                            </div>
                            <h6>Completedy</h6>
                            <p class="ps-xxl-4 pe-xxl-4">After approve you ready to use your accounts</p>
                        </div>
                        <!-- /.card-style-fifteen -->
                    </div>
                </div>
            </div>
            <h3>Are you ready to take our services?</h3>
            <p> Our dedicated risk compliance consulting team assists clients transforming uncertainty into advantageous
                prospects. We work collaboratively organizations to identify & leverage the potential within their risk
                & compliance functions, enabling them to thrive in an ever-changing business landscape.</p>
        </div>
    </div>

</div>
<!-- /.service-details -->




<!--
		=====================================================
			FAQ Section Three
		=====================================================
		-->
<div class="faq-section-three bg-grey gap-40 mt-160 xl-mt-120 lg-mt-70">
    <div class="bg-wrapper pt-120 lg-pt-80 pb-120 lg-pb-80">
        <div class="container">
            <div class="title-ten text-center mb-60 lg-mb-30">
                <h2>Questions & Answers</h2>
            </div>
            <div class="row">
                <div class="col-lg-10 m-auto">
                    <div class="accordion accordion-style-six" id="accordionFour" ngbAccordion [closeOthers]="true">
                        <div class="accordion-item" ngbAccordionItem>
                            <h2 class="accordion-header" ngbAccordionHeader>
                                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseOneA" aria-expanded="false" aria-controls="collapseOneA"
                                    ngbAccordionButton>
                                    What is piku?
                                </button>
                            </h2>
                            <div id="collapseOneA" class="accordion-collapse collapse" data-bs-parent="#accordionFour"
                                ngbAccordionCollapse>
                                <div class="accordion-body" ngbAccordionBody>
                                    <p class="fs-22">Revolutionize customer support workflows with our help desk SaaS
                                        company, delivering seamless solutions for modern businesses.</p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item" ngbAccordionItem>
                            <h2 class="accordion-header" ngbAccordionHeader>
                                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseTwoA" aria-expanded="false" aria-controls="collapseTwoA"
                                    ngbAccordionButton>
                                    How do I find different criteria in pricing
                                </button>
                            </h2>
                            <div id="collapseTwoA" class="accordion-collapse collapse" data-bs-parent="#accordionFour"
                                ngbAccordionCollapse>
                                <div class="accordion-body" ngbAccordionBody>
                                    <p class="fs-22">Revolutionize customer support workflows with our help desk SaaS
                                        company, delivering seamless solutions for modern businesses.</p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item" ngbAccordionItem>
                            <h2 class="accordion-header" ngbAccordionHeader>
                                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseThreeA" aria-expanded="true" aria-controls="collapseThreeA"
                                    ngbAccordionButton>
                                    How does piku cost?
                                </button>
                            </h2>
                            <div id="collapseThreeA" class="accordion-collapse collapse" data-bs-parent="#accordionFour"
                                ngbAccordionCollapse>
                                <div class="accordion-body" ngbAccordionBody>
                                    <p class="fs-22">Revolutionize customer support workflows with our help desk SaaS
                                        company, delivering seamless solutions for modern businesses.</p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item" ngbAccordionItem>
                            <h2 class="accordion-header" ngbAccordionHeader>
                                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseFourA" aria-expanded="true" aria-controls="collapseFourA"
                                    ngbAccordionButton>
                                    I have running plan, How can I change it?
                                </button>
                            </h2>
                            <div id="collapseFourA" class="accordion-collapse collapse" data-bs-parent="#accordionFour"
                                ngbAccordionCollapse>
                                <div class="accordion-body" ngbAccordionBody>
                                    <p class="fs-22">Revolutionize customer support workflows with our help desk SaaS
                                        company, delivering seamless solutions for modern businesses.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.faq-section-three -->