<div class="fancy-banner-two pt-120 lg-pt-80 pb-150 xl-pb-120 lg-pb-80 position-relative z-1">
    <div class="container">
        <div class="row">
            <div class="col-xl-9 col-lg-7 m-auto text-center">
                <h2>700k+ Customers have our Piku. Try it Now!</h2>
                <a class="btn-six">Claim 10k Words</a>
            </div>
        </div>
    </div>
    <img src="assets/images/shape/shape_20.svg" alt="" class="shapes shape_01">
    <img src="assets/images/shape/shape_21.svg" alt="" class="shapes shape_02">
</div>