<!-- 
		=============================================
			Hero Banner
		============================================== 
		-->
<div class="hero-banner-four p-30 z-1 position-relative">
    <div class="bg-eight wrapper position-relative">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-10">
                    <h1 class="hero-heading font-Playfair wow fadeInUp color-dark">Develop lasting client relations </h1>
                    <p class="fs-28 text-dark pt-15 pb-35 md-pb-20 pe-xxl-5 me-xxl-5 wow fadeInUp"
                        data-wow-delay="0.1s">Piku delivered blazing performance, fast striking word soludtion</p>
                    <app-news-latter class="wow fadeInUp" data-wow-delay="0.2s"></app-news-latter>
                    <!-- <form action="#" class="position-relative wow fadeInUp" data-wow-delay="0.2s">
                        <input type="email" placeholder="Your Email address...">
                        <button class="tran3s">Get Started</button>
                    </form> -->
                </div>
                <div class="col-lg-6">
                    <img src="assets/images/assets/ils_15.svg" alt="" class="illustration wow fadeInRight">
                </div>
            </div>

            <div class="client-logo-wrapper mt-100 lg-mt-50">
                <div class="container">
                    <p class="fs-22 fw-500 text-dark mb-50 lg-mb-20">Trusted by over 5,000 businesses</p>
                    <div class="partner-logo-one">
                        <owl-carousel-o [options]="customOptions">
                            <ng-template carouselSlide>
                                <div class="item"><img src="assets/images/logo/p_logo_01_1.png" alt=""></div>
                            </ng-template>
                            <ng-template carouselSlide>
                                <div class="item"><img src="assets/images/logo/p_logo_02_1.png" alt=""></div>
                            </ng-template>
                            <ng-template carouselSlide>
                                <div class="item"><img src="assets/images/logo/p_logo_03_1.png" alt=""></div>
                            </ng-template>
                            <ng-template carouselSlide>
                                <div class="item"><img src="assets/images/logo/p_logo_04_1.png" alt=""></div>
                            </ng-template>
                            <ng-template carouselSlide>
                                <div class="item"><img src="assets/images/logo/p_logo_05_1.png" alt=""></div>
                            </ng-template>
                            <ng-template carouselSlide>
                                <div class="item"><img src="assets/images/logo/p_logo_03_1.png" alt=""></div>
                            </ng-template>
                            <ng-template carouselSlide>
                                <div class="item"><img src="assets/images/logo/p_logo_06_1.png" alt=""></div>
                            </ng-template>
                            <ng-template carouselSlide>
                                <div class="item"><img src="assets/images/logo/p_logo_04_1.png" alt=""></div>
                            </ng-template>
                        </owl-carousel-o>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /.hero-banner-four -->